%form{:method => 'post', :action => "#{base_url}/make_post"}
  .block
    %div.title
      title
      %input{:type => 'text', :name => 'title', :size => 40, :value => @title}
    %div.text
      %textarea{:name => 'text', :rows => 15, :cols => 60}= @text
    %div.save-button
      %input.save-button{:type => 'submit', :value => '保存'}

